# global
DATA_PATH_HOST=./.data
CODE_PATH_HOST=../
CODE_PATH_CONTAINER=/var/www
COMPOSE_PROJECT_NAME=local

# postgresql
PG_VERSION=postgresql version
PG_PASSWORD=password for user postgres
PG_DATA=postgresql data path inside container
PG_PORT_HOST=postgresql port to connect from host
