# global
DATA_PATH_HOST=./.data
CODE_PATH_HOST=../
CODE_PATH_CONTAINER=/var/www
COMPOSE_PROJECT_NAME=local

# postgresql
PG_VERSION=postgresql version
PG_PASSWORD=password for user postgres
PG_DATA=postgresql data path inside container
PG_PORT_HOST=postgresql port to connect from host

# MariaDB
MARIADB_VERSION=10.6-focal
MARIADB_HOST_PORT=3306
MARIADB_ROOT_PASSWORD=root user password
MARIADB_TZ=UTC
